body{
    margin: 0;
}
#modal {
    background-color: gray;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}
.swiper-container {
    width: 80%;
    height: 400px;
    margin: auto;
  }
  .swiper-container-thumbs {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .swiper-slide img {
    width: 100%;
   
    height: auto;
    cursor: pointer;
    resize: contain;
  }

  .swiper-slide-thumb-active {
    border-style: solid;
    border-width: 2px;
    border-color: lightskyblue;
  }

#show-modal-button{
    background-color: white;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 15px;
    z-index: -1;
}

#show-modal-button:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
}
#hide-modal-button{
    background-color: transparent;
    border: none;
    
}
#hide-modal-button:hover{
    color: white;
}

.hide{
    display: none;
}
.show{
    display: block !important;
}

iframe{
    width: 100%;
}