body{
    margin: 0;
    overflow: hidden;
}

#modal {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    text-align: right;
    align-items: center;
    flex-direction: column;
    top: 0;
}
.swiper-container {
    width: 80%;
    height: 400px;
    margin: auto;
}
.swiper-container-thumbs {
  width: calc(100% - 60px);
  height: auto;
}
.swiper-slide {

  display: flex;
  justify-content: center;
  align-items: center;

}

/* .thumbs-slides{
  width: 265px !important;
  height: 150px !important;
} */

.swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;  
  object-fit: cover;
  cursor: pointer;
}
/* 
.swiper-slide-thumb-active  {
  border-style: solid;
  border-width: 0.5px ;
  border-color: white;
} */


#show-modal-button{
    background-color: white;
    border: 2px solid black; 
    padding: 5px 10px;
    border-radius: 15px;
    z-index: -1;
}

.main-slider{
  aspect-ratio: 1200/675;
  width: 100%;
  height: auto;
}


#preview-container{
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main-wrapper{
  max-width: 1200px;
  width: fit-content;
  overflow: hidden;
}

.thumbs-container{
  max-width: 73%;
  margin: 30px 0;
  display: flex;
  gap: 10px;

}

.swiper-button-prev, .swiper-button-next{
  position: relative !important;
}

.swiper-button-prev::after, .swiper-button-next::after{
  color: white;
  line-height: 0!important;
  --swiper-navigation-size: 20px;
}

#show-modal-button:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
}
#hide-modal-button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    width: 100%;
    text-align: right;
    padding: 10px 30px;
}
#hide-modal-button:hover{
    color: gray;
}

.hide{
    display: none;
}
.show{
    display: flex !important;
}

iframe{
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .main-wrapper{
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .main-wrapper {
     width: 90%;
  }
}